{% extends "template.html.twig" %}
{% block css %}
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/inscription.css">
{% endblock %}


{% block body %}
	<div class="card" style="width: 18rem;">
		<div class="main-w3layouts wrapper">
			<img src="{{ baseUrl }}/assets/img/404.png" alt="img" class="abyss">
		</div>
	</div>
{% endblock %}
