{% extends "template.html.twig" %}
    {% block css %}
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/inscription.css">
    {% endblock %}

    {% block body %}
    <div class="main-w3layouts wrapper">
    <img src="/assets/img/inscription.png" alt="img" class="abyss">
		<h3>Inscription</h3>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input class="text" type="text" name="username" placeholder="Nom d'utilisateur" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Mot de passe" required="">
					<input class="text w3lpass" type="password" name="confirmPassword" placeholder="Confirmation du mot de passe" required="">
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>Se souvenir de moi</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" name="submit" value="S'inscrire">
				</form>
				<p>Vous avez déjà un compte ? <a href="#">Connectez-vous !</a></p>
			</div>
		</div>
	</div>
    {% endblock %}