<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Accueil
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="../assets/img/favicon.png"/>
		<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		{% block css %}
			<link rel="stylesheet" href="{{ baseUrl }}/assets/css/thumbnails.css">
		{% endblock %}

		{% block body %}
			<section>
				<div class="container">
					<div class="row">
						<a href="{{ baseUrl }}"><img src="{{ baseUrl }}/assets/img/inscription.png" alt="img" class="abyss abyss-thum"></a>
						<h3>Tous les films</h3>
						<figure class="snip1104">
							<img src="assets/img/abyss.jpg" alt="sample33"/>
							<figcaption>
								<h2>
									<span>Abyss</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/sea.jpg" alt="sea"/>
							<figcaption>
								<h2>20000 Leagues
									<span>Under the sea</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/gang_de_requins.jpg" alt="gangderequin"/>
							<figcaption>
								<h2>Gang de
									<span>requins</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>

						<figure class="snip1104">
							<img src="assets/img/mer.jpg" alt="jaws"/>
							<figcaption>
								<h2>
									<span>Jaws</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/47.jpg" alt="47"/>
							<figcaption>
								<h2>47 meters<span>
										Down</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/pirates.jpg" alt="pirates"/>
							<figcaption>
								<h2>Pirate des<span>
										Caraïbes</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104">
							<img src="assets/img/forme.jpg" alt="formedeleau"/>
							<figcaption>
								<h2>La forme<span>
										de l'eau</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/sirene.jpg" alt="sirene"/>
							<figcaption>
								<h2>La petite<span>
										sirène</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/titanic.jpg" alt="titanic"/>
							<figcaption>
								<h2>
									<span>Titanic</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104">
							<img src="assets/img/nemo.jpg" alt="nemo"/>
							<figcaption>
								<h2>
									<span>Nemo</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/oceans.jpg" alt="oceans"/>
							<figcaption>
								<h2>
									<span>Oceans</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/pi.jpg" alt="pi"/>
							<figcaption>
								<h2>Life of<span>
										Pi</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>

						<figure class="snip1104">
							<img src="assets/img/trouble.jpg" alt="trouble"/>
							<figcaption>
								<h2>En eaux<span>
										troubles</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/underwater.jpg" alt="underwater"/>
							<figcaption>
								<h2>
									<span>Underwater</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/vaiana.jpg" alt="vaiana"/>
							<figcaption>
								<h2>
									<span>Vaiana</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104">
							<img src="assets/img/waterworld.jpg" alt="waterworld"/>
							<figcaption>
								<h2>
									<span>water</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/aquaman.jpg" alt="aquaman"/>
							<figcaption>
								<h2>Aqua<span>man</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/moby.jpg" alt="moby"/>
							<figcaption>
								<h2>Moby<span>
										Dick</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/grand.jpg" alt="grand"/>
							<figcaption>
								<h2>Le grand<span>
										Bleu</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>
						<figure class="snip1104"><img src="assets/img/monde.jpg" alt="monde"/>
							<figcaption>
								<h2>Le monde<span>
										du silence</span>
								</h2>
							</figcaption>
							<a href="#"></a>
						</figure>

					</div>
				</div>
			</section>
		{% endblock %}
	</head>
</html>
