/** Html Elements **/

body {
    color: #f1f1f1;
}

img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

textarea {
    border: none;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
}

textarea:focus, button:focus {
    outline: none;
}

ul {
    list-style: none;
}

/** Classes **/

.row img {
    box-shadow: 5px 5px 115px -14px black;
}
.content-bg {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.button {
    font-size: .9em;
    color: #FFF;
    background:#72B8C7 ;
    cursor: pointer;
    padding: 0.9em;
    border: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    letter-spacing: 4px;
}

.button:hover {
    background: #C52033 ;
}

.content-div {
    margin-top: 30px;
    font-size: 2.5rem;
}

.content-div-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 4rem;
}

.content-div p {
    padding: 0 10px;
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
}

.titles {
    color: #72b8c7;
    font-weight: bold;
}

.titles2 {
    color: #72b8c7;
    font-size: 25px;
}

.grey-bg {
    padding: 10px;
    min-height: 50px;
    margin-bottom: 5px;
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 15px;
}

/** Media Querries **/

@media (max-width: 992px) {
    .submit-button {
        justify-content: center;
    }
}
